body {
  font-family:
    "Inter",
    "Arimo",
    "Helvetica Neue",
    "IBM Plex Sans", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #333;
}

.container {
  display: flex;
  max-width: 900px;
  margin: 4rem auto;
  padding: 0 1rem;
}

.left-column {
  width: 250px;
  position: sticky;
  top: 4rem;
  align-self: flex-start;
  margin-left: 2rem;
}

.profile-pic {
  width: 80%;
  border-radius: 15px;
  margin-bottom: 1.5rem;
  transform: scaleX(-1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.left-column h1 {
  font-size: 2rem;
  margin: 0 0 0.5rem 0;
}

.left-column p {
  font-size: 1rem;
  margin: 0 0 0.5rem 0;
  color: #555;
}

.left-column .links a {
  display: block;
  margin-top: 0.5rem;
  color: #5e81ac;
  text-decoration: none;
  font-weight: 500;
}
.left-column .links a:hover {
  text-decoration: underline;
}

.right-column p {
  text-align: justify;
}

.right-column {
  flex: 1;
  margin-left: 1rem;
}

section {
  margin-bottom: 2rem;
}

h2 {
  font-size: 1.8rem;
  font-weight: 600;
  margin: 0 0 0.8rem 0;
  color: black;
  padding-bottom: 0.5rem;
}

ul {
  padding-left: 20px;
  list-style-type: square;
}

li {
  margin-bottom: 0.5rem;
}

a {
  color: #5e81ac;
}

a:hover {
  color: #4c6b8c;
  text-decoration: underline;
}

.publication,
.project,
.experience-item {
  margin-bottom: 1.5rem;
}

.publication .title {
  font-weight: bold;
}

.publication .authors,
.publication .venue {
  font-style: italic;
  color: #555;
}

.publication .links a,
.project a {
  font-weight: 500;
  text-decoration: none;
}

.experience-item p {
  margin-bottom: 0.4rem;
}

.experience-item strong {
  font-weight: 700;
}

.summary {
  color: #555;
  margin-top: 0.4rem;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    margin: 2rem auto;
  }

  .left-column {
    position: static;
    width: 100%;
    height: auto;
    text-align: center;
  }

  .right-column {
    border-left: none;
  }

  .profile-pic {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
}
